.header {
    position: relative;

    &_image {
        width: 100%;
        object-fit: cover;
        
        & img {
            height: 400px;
            width: 100%;
        }
    }

    &_head {
        width: 600px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        left: 400px;
        color: #fff;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 30px;
    }

    & svg {
        font-size: 30px;
    }
    
}