.header {
    position: relative;

    &_image {
        width: 100%;
        object-fit: cover;
        
        & img {
            height: 300px;
            width: 100%;
        }
    }

    &_head {
        position: absolute;
        top: 30%;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 30px;
    }   
}

